<!doctype html>
<html lang="en">
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Blog Post</title>
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Bootstrap validator JS and CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="#" crossorigin="anonymous">
        
        <link type="text/css" rel="stylesheet" href="../stylesheets/stylesheet.css" />
        <script src="../javascripts/index.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand abs" href="/">Blog Post</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{#if user}}
                <div class="navbar-collapse collapse" id="collapsingNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="log_out" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            {{/if}}
        </nav>
        
        <main class="container">
            <div class="row">
                <div class="column col-sm-12">
                    {{#each getMessages as |messages key| }} {{#each messages as |message| }}
                        <script>
                            $(function() {
                                if('{{key}}' == 'success') {
                                    $('#alert_success').addClass('alert-success');
                                    $('#alert_success').fadeOut(5000);
                                }

                                else if('{{key}}' == 'error')
                                    $('#alert_error').addClass('alert-danger');
                                    $('#alert_error').fadeOut(5000);
                            });
                        </script>
                        <div id="alert_{{key}}" class="alert alert-dismissible text-center" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> {{ message }}
                        </div>
                    {{/each }} {{/each }}
                </div>
            </div>

            {{{ body }}}

        </main>
        <footer>
            <div class="footer-copyright text-center py-3">
                <hr>
                <p>&copy; Ashis Raj | <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></p>
            </div>
        </footer>
    </body>
</html>
